target/
eureka_register_service_backup/target
eureka_register_service_master/target
eureka-sever/target
papy/target
msg/target

zuul/target

.settings
eureka_register_service_master/.settings
eureka_register_service_backup/.settings
eureka-sever/.settings
papy/.settings
zuul/.settings
msg/.settings
.project
eureka_register_service_backup/.project
eureka_register_service_master/.project
eureka-sever/.project
papy/.project
zuul/.project
msg/.project

.classpath
eureka_register_service_backup/.classpath
eureka_register_service_master/.classpath
eureka-sever/.project
papy/.classpath
zuul/.classpath
msg/.classpath

papy/.springBeans
zuul/.springBeans

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
appCommodity.log



# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar